body {
  font-family: "Kanit", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.logo {
  max-width: 55px;
}

.link-title {
  color: #ffbb0eff; /* Use the default color */
  text-decoration: none; /* Remove underline */
}

.link-title:hover {
  color: #ffbb0eff;
}

.text-title {
  font-size: 55px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.yellow {
  color: #ffbb0eff;
}

.btn-primary {
  min-width: 100px;
  max-height: 50px;
  background-color: #ffbb0eff;
  border-color: #ffbd14;
}

.btn-primary:hover {
  background-color: #ffbb0eff;
  border-color: #ffbd14;
  filter: brightness(102%);
}

.btn-primary:focus {
  background-color: #ffbb0eff;
  border-color: #ffbd14;
}

.burger-img {
  width: 600px;
}

.chef-img {
  width: 150px;
}

.card-img-top {
  max-width: 140px;
  padding-top: 16px;
}

.custom-padding-left {
  padding-left: 300px;
}

.custom-shadow {
  box-shadow: 1px 2px 5px rgba(212, 50, 67, 1);
}

.circle-bg {
  width: calc(fit-content + 100px);
  height: calc(fit-content + 100px);
  border-radius: 50%;
  background-color: #ffbd14;
}

@media (max-width: 1024px) {
  .burger-img {
    width: 500px;
  }
}
